*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Young Sherif", serif;
    color: hsl(24, 5%, 18%);
}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(30, 54%, 90%);
}

.container{
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 2rem;
}

li{
    margin: 0.5rem 2rem;
}

ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
.image{
    width: 100%;
}
img{
    width: 100%;
    border-radius: 1rem;
}

header{
    margin: 2rem 0;
}
header p{
    margin: 1rem 0;
    font-size: 16px;
}

.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.prep h4{
    color: hsl(332, 51%, 32%);
}

h3{
    color: hsl(14, 45%, 36%);
    margin: 1rem 0;
    font-size: 25px;
}

.ing{
    margin: 1rem 0;
    border-bottom: 1px solid rgb(225, 214, 214);
}

table{
    width: 100%;
    border-collapse: collapse;
}
table caption{
    text-align: left;
    margin-bottom: 0.5rem;
}
table th{
    text-align: left;
    margin: 0.5rem;
}
table td{
    padding-left: 10px;
    margin: 0 0.5rem;
}
td,th{
    padding: 0.5rem;
    border-bottom: 1px solid rgb(225, 214, 214);
}
th{
    color: hsl(14, 45%, 36%);
}


@media (max-width:375px){
    .container{
        width: 100%;
    }
}
@media (max-width:600px){
    .container{
        width: 90%;
    }
}